body{
    width: 100%;
    margin: auto;
}
header{
    background-color: rgb(247, 247, 247);
    height: 100px;
    border-radius:1%;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.513) ;
}
.logo {
    width: 30%;
    float: left;
}
img{
    margin: 0 20%;
    position: relative;
    padding: 5px;
    width: 90px;

}
.menu-nav{
    width: 70%;
    float: left;
    height: 100px;
    
}

#menu ul{
    float: right;
    margin: 1% 10%;
    padding: 20px;
    text-align: right;
    list-style: none;   
}
#menu li{
    text-transform: uppercase;
    font-family: cursive;
    padding: 10px;
    font-size: 16pt;
    display: inline-block;
}
#menu a:hover{
    color: rgb(11, 233, 253);
}
#menu a{
    text-decoration: none;
    color: rgb(7,47,82);
    font-weight: bold;
}
section{
    padding: 10px;
    text-align: center;
}
footer {
    bottom: 0;
    position: absolute;
    height: 2%;
    width: 100%;
    padding: 2em 0;
    background-color: rgb(7, 87, 134);
    text-align: center;
    color: white;
}
footer a{
    text-decoration: underline;
    font-style: italic;
}

